body {
    background-color: #f0f8ff; /* Light blue background */
}

h1 {
    color: #2b2b2b;
    text-align: center;
}

.post-container {
    margin: 50px auto;
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
