{% extends "base.html" %}
{% load static %}

{% block sidenav %}
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'search' %}">Search</a></li>
  <li><a href="{% url 'cart-view' %}">Cart</a></li>
  <li><a href="{% url 'postbook' %}">Post Book</a></li>
{% endblock sidenav %}

{% block content %}
  <h1>All Books</h1>
  <table border="1" cellpadding="6">
    <tr>
      <th>Title</th><th>Author</th><th>ISBN</th><th>Actions</th>
    </tr>
    {% for book in books %}
      <tr>
        <td><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>
          <form action="{% url 'cart-add' book.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="4">No books yet.</td></tr>
    {% endfor %}
  </table>
{% endblock content %}
